/* SUFIJOS A ESTA CLASE ES : LOG */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.sidebar-contenedor {
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/75/Information-Technology.jpg); */
  background-image: url(https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80);
  height: 400;
  width: 600px;
}
.bodylogin {
  height: 100vh;
  background-color: white;
  color: #060606;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-contenedor {
  background-color: white;
  height: 600px !important;
  width: 600px !important;
  color: black;
}
.btn-env{
  border:#ed5418 solid 0.7px !important ;
  background-color: rgb(255, 255, 255) !important;
  color: #ed5418 !important;
}

.contenedor-inicio {
  font-family: "Muli", serif;
}
.form-login {
  margin-top: 35px;
}
.botones {
  margin-top: 20px;
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toggle {
  text-decoration-style: none;
  border-radius: 20px;
  background-color: #ed5418 !important;
  border: none !important;
  color: black;
  outline: none !important;
}
.toggle:hover {
  color: black;
  background-color: #ed5418 !important;
  outline: none !important;
}
@media (max-width: 664px) {
  .sidebar-contenedor {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 980px){
  .sidebar-contenedor{
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
  }
}
